[submodule "runtime/mrubyc"]
	path = runtime/mrubyc
	url = https://github.com/mrubyc/mrubyc.git
[submodule "runtime/picoruby"]
	path = runtime/picoruby
	url = https://github.com/picoruby/picoruby.git
